.logo {
    display: block;
    width: 142px;
    height: 42px;
    background-image: url(header-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 0.3s;
}

.logo:hover {
    opacity: 0.8;
}

@media (min-width: 768px) {
    .logo {
        width: 176px;
        height: 52px;
    }
}