.logo {
    display: block;
    width: 142px;
    height: 42px;
    background-image: url(header-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

@media (min-width: 768px) {
    .logo {
        width: 176px;
        height: 52px;
    }
}