.switch__link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    transition: opacity 0.3s;
}

.switch__link:hover {
    opacity: 0.8;
}

@media (min-width: 768px) {
    .switch__link {
        font-size: 24px;
        line-height: 28px;
    }
}